
/** Author: Gazmend Shefiu & Davide Seabra || inspired by Akatsuki Project & Pokerproject*/

.root{
    -fx-background-image: url(/background/image/Jassmend_GameView_Background_FULLHD.jpg);
    -fx-background-size:cover;
    
}

.button {
	 -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #ff0000 0%, #ffd100 100%),
        #ff0000,
        #ffd100,
        radial-gradient(center 50% 50%, radius 100%, #ff0000, #ffd100);
	 -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	 -fx-background-radius: 50px;
 	 -fx-font-family: "Arial Rounded MT Bold";
   	 -fx-font-size: 15px;
   	 -fx-cursor: hand;
   	 -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   	 -fx-padding: 8 15 15 15;
}
.button:hover{
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #ff0000 0%, #ffd100 100%),
        #ff0000,
        #ffd100,
        radial-gradient(center 50% 50%, radius 100%, #ff0000, #ffd100);
    -fx-scale-y: 1.5;
    -fx-scale-x: 1.5;
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


#btnSend{

	 -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #ff0000 0%, #ffd100 100%),
        #ff0000,
        #ffd100,
        radial-gradient(center 50% 50%, radius 100%, #ff0000, #ffd100);
	 -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	 -fx-background-radius: 50px;
 	 -fx-font-family: "Arial Rounded MT Bold";
   	 -fx-font-size: 15px;
   	 -fx-cursor: hand;
   	 -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   	 -fx-padding: 8 15 15 15;


}

#btnSend:hover{
	-fx-scale-y:1;
    -fx-scale-x:1;

}

#btnSend:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}




.label{

	-fx-font-family: "Arial Black";
	-fx-font-size: 14px;
	

}

.outline.label .text {
	-fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#lblRound{

	-fx-text-fill: white;
	-fx-font-size: 15px;
}


#lblStiche{

	-fx-text-fill: white;
	-fx-font-size: 15px;
}

#lblScore{

	-fx-text-fill: white;
	-fx-font-size: 15px;
}

#lblTeam1{
	-fx-text-fill: white;
}

#lblSticheT1{
	-fx-text-fill: white;
}

#lblScoreT1{
	-fx-text-fill: white;
}

#lblTeam2{
	-fx-text-fill: white;
}

#lblSticheT2{
	-fx-text-fill: white;
}

#lblScoreT2{
	-fx-text-fill: white;
}

#lblTeam1Pl{
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

#lblTeam2Pl{
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

#lblPl1{
	-fx-text-fill: white;
	-fx-font-size: 13px;
}

#lblPl3{
	-fx-text-fill: white;
	-fx-font-size: 13px;
}

#lblPl2{
	-fx-text-fill: white;
	-fx-font-size: 13px;
}

#lblPl4{
	-fx-text-fill: white;
	-fx-font-size: 13px;
}

#userNamePl2{
	
	-fx-font-size: 30px;
}

#scorePlayer2{
	
	-fx-font-size: 20px;
	
}

#userNamePl3{
	
	-fx-font-size: 30px;
	
}

#scorePlayer3 {
	
	-fx-font-size: 20px;
}

#userNamePl4{
	
	-fx-font-size: 30px;
	
}


#scorePlayer4 {
	
	-fx-font-size: 20px;
	
}

#Leaderboard{

	-fx-font-family: "Arial Black";
	-fx-font-size: 25px;
	-fx-text-fill: white;
}




#mpLeftBox{

	-fx-background-image: url(/background/image/Blackboard.png);
	-fx-background-size: cover;
}


#rssBox{

	-fx-text-fill: white;

}

#lblChat{
	-fx-font-size: 11px;
}

.titled-pane{
	-fx-border-color: b8860b;
}

.text-field{

	-fx-background-color: white;
	-fx-border-color: black;
}

.text-area{

	-fx-background-color: white;
	-fx-border-color: black;
}





.card {
    -fx-font-size: 50.0px;
    -fx-padding: 10.0px;
    -fx-margin: 25px 50px 75px 100px;
    -fx-border-color: transparent;
    -fx-border-width: 3.0px;
    -fx-background-color: transparent; 
    -fx-min-width: 43;
    -fx-pref-width: 80;
    -fx-max-width: 49;
    -fx-min-height: 70;
    -fx-pref-height: 90;
    -fx-max-height: 100;
}










