

.player {
    -fx-font-size: 20.0px;
    -fx-font-family: Forte;
    -fx-font-color: rgb(250,250,210);
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-background-color: green;
}

.root{
    -fx-background-image: url(/background/image/Jassmend_GameView_Background_FULLHD.jpg);
    -fx-background-size:cover;
}

.button {
    -fx-border-radius: 7px;
    -fx-font-family: "Arial Black";
    -fx-font-size: 12px;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 5);
    -fx-background-color: linear-gradient(to right, rgba(230,171,0,1) 0%, rgba(223,189,0,1) 100%);
    -fx-min-height: 30;
    -fx-min-width: 80;
    -fx-text-fill: black;
}
.button:hover{
    -fx-background-color: linear-gradient(to right, rgba(255,130,60,1) 0%, rgba(255,156,77,1) 100%);
    -fx-effect: dropshadow(three-pass-box, #000000, 15, 0.2, 0, 5);
    -fx-cursor:hand;
    -fx-scale-y: 1.5;
    -fx-scale-x: 1.5;
}


#btnSend{

    -fx-border-radius: 7px;
    -fx-font-family: "Arial Black";
    -fx-font-size: 12px;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 5);
    -fx-background-color: linear-gradient(to right, rgba(230,171,0,1) 0%, rgba(223,189,0,1) 100%);
    -fx-min-height: 10;
    -fx-min-width: 10;
    -fx-text-fill: black;


}

#btnSend:hover{
	-fx-scale-y:0.8;
    -fx-scale-x:0.8;

}


Label{

	-fx-font-family: "Arial Black";
	-fx-font-size: 12px;


}

.table-view{
	-fx-border-color: black;
	-fx-background-color: transparent //#D2AB6F 	rgb(210, 171, 111)


}

.titled-pane{
	-fx-border-color: b8860b;
	-fx-
	
	


}

.text-field{

	-fx-background-color: white;
	-fx-border-color: black;

}

.text-area{

	-fx-background-color: white;
	-fx-border-color: black;
}

.card {
    -fx-font-size: 50.0px;
    -fx-padding: 10.0px;
    -fx-margin: 25px 50px 75px 100px;
    -fx-border-color: transparent;
    -fx-border-width: 3.0px;
    -fx-background-color: transparent; 
    -fx-min-width: 43;
    -fx-pref-width: 80;
    -fx-max-width: 49;
    -fx-min-height: 70;
    -fx-pref-height: 90;
    -fx-max-height: 100;
}










